body {
    background-color: #30455b;
}

.container {
    margin-top: 50px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #343a40;
    margin-bottom: 20px;
}

.form-inline {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    margin-top: 30px;
}

.footer {
    margin-top: 50px;
    font-size: 14px;
}

.footer svg {
    vertical-align: middle;
}
